<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <script>

        document.addEventListener("DOMContentLoaded", function() {

              document.querySelectorAll(".highlighttable").forEach((highlighttable) => {

                  // Creación de wrapper para el bloque de código y botón
                  const highlightTableWrapper = document.createElement('div');
                  highlightTableWrapper.classList.add('highlighttable-wrapper'); // Add the class

                  // Crea botón para copiar código
                  const codeBlockCopyPasteButton = document.createElement("button");
                  codeBlockCopyPasteButton.innerText = "copiar";
                  codeBlockCopyPasteButton.className = "copy-btn";

                  // Inserta primero wrapper y despues highlighttable
                  highlighttable.parentNode.insertBefore(highlightTableWrapper, highlighttable);
                  highlightTableWrapper.appendChild(highlighttable);
                  highlightTableWrapper.appendChild(codeBlockCopyPasteButton)

                  codeBlockCopyPasteButton.addEventListener("click", () => {
                      // obtiene el elemento tag code
                      const codeElem = highlighttable.querySelector("code");
                      if (!codeElem) return;

                      const code = codeElem.innerText;
                      navigator.clipboard.writeText(code).then(() => {
                          codeBlockCopyPasteButton.innerText = "copiado!";
                          setTimeout(() => (codeBlockCopyPasteButton.innerText = "copiar"), 2000);
                      });
                  });
              });
        });

    document.addEventListener("DOMContentLoaded", () => {
        const searchInput = document.getElementById("search-bar");
        const resultsContainer = document.createElement("div");
        resultsContainer.className = "search-results";
        searchInput.parentNode.appendChild(resultsContainer);

        let articles = [];

        fetch("{{ SITEURL }}/search.json")
            .then(response => response.json())
            .then(data => { articles = data; });

        searchInput.addEventListener("input", () => {

            const query = searchInput.value.toLowerCase().trim();

            if (!query) return;

            const words = query.split(/\s+/);

            // Almenos una coincidencia con title, summary, tags
            const matches = articles.filter(article =>
            words.some(word =>
            (article.title && article.title.toLowerCase().includes(word)) ||
            (article.summary && article.summary.toLowerCase().includes(word)) ||
            (article.tags && article.tags.join(" ").toLowerCase().includes(word))
            ));

            if (matches.length !== 0) {

                const previewContainer = document.querySelector(".preview-container");
                previewContainer.innerHTML = "";

                matches.forEach(article => {
                    const li = document.createElement("li");
                    li.className = "preview-post";
                    li.innerHTML = `
                        <a class="preview-link" href="${article.url}">
                            <img class="preview-img" src="${article.image || '{{ SITEURL }}/img/otros/default.webp'}" alt="">
                        </a>
                        <div class="preview-title">${article.title}</div>
                        <div class="preview-summary">${article.summary || ""}</div>
                        <div class="preview-date">🗓️ ${article.date.split(' ')[0] || ""}</div>
                        <div class="preview-author">✏️ ${article.author ? "Por " + article.author : ""}</div>
                        <div class="preview-tags-container">
                            ${(article.tags || []).map(tag => `<a class="preview-tag" href="{{ SITEURL }}/tag/${tag}.html">${tag}</a>`).join("")}
                        </div>
                    `;
                    previewContainer.appendChild(li);
                });
            }
        });
});
    </script>

</head>
<body>

    {% include 'navbar.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
