{% extends "base.html" %}

{% block title %}Contributors - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="main-msg">
    <h1>Contribuidores 🐍</h1>
    <div class="main-body-msg">
    Agradecimientos a cada Pythonista que ha contribuido al blog ❤️ <br>
    ¡Cada aporte es una gran ayuda para que crezca la comunidad Python Chile!
    </div>
</div>

<div class="contributors-container">
    {% for user in contributors %}
        <div class="contributor">
            <a href="{{ user['profileUrl'] }}" target="_blank">
                <img src="{{ user['avatarUrl'] }}" alt="{{ user['username'] }}" class="contributor-avatar">
                <div class="contributor-name">@{{ user['username'] }}</div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
