{% extends "base.html" %}
{% block title %}Contacto — {{ SITENAME }}{% endblock %}

{% block content %}
<div class="main-msg">
    <h1>Contáctanos 🤗</h1>
    <div class="main-body-msg">
        Si tienes cualquier duda respecto a la comunidad ¡nos alegrará poder ayudarte ✨¡

        <div class="contact-container">

            <div>✉️ contacto@pythonchile.cl</div>
            <div class="social-media-container">
                <ul class="social-media-list">
                {% for social_network, data in social_networks.items() %}
                    <li>
                        <a href="{{ data['url'] }}"><i class="{{ data['icon'] }}"></i></a>
                    </li>
                {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}
