<nav class="navbar">
    <a class="left-link" href="{{ SITEURL }}/">
        <div class="navbar-left">
            <img src="{{ SITEURL }}/theme/img/pythonchile_logo.png" alt="Logo" class="navbar-logo">
            <span class="navbar-title">El</span>
            <span class="navbar-title">Blog</span>
            <span class="cursor">|</span>
        </div>
    </a>

    <ul class="navbar-menu">
        <li><a href="{{ PYTHON_CHILE_URL }}">Comunidad Python Chile</a></li>
        <li><a href="{{ SITEURL }}/contributions.html">Contribuidores</a></li>
        <li><a href="{{ SITEURL }}/contact.html">Contacto</a></li>
    </ul>
</nav>